@font-face {
  font-family:'larsseit_medium';
  src: url('./fonts/Type Dynamic - Larsseit Medium.woff') format('woff');
}

@font-face {
  font-family:'larsseit_regular';
  src: url('./fonts/Type Dynamic - Larsseit.woff') format('woff');
}
